# MISSION TO MARS

In [74]:
# Dependencies and Setup


# pulling data out of HTML and XML files.
from bs4 import BeautifulSoup as bs

# automate browser actions, such as visiting URLs and interacting with their items.
from splinter import Browser

import pandas as pd

In [75]:
# Set Executable Path of chrome driver & Initialize Chrome Browser


executable_path = {"executable_path":r"C:\Users\iamso\chromedriver\chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

###### NASA 's Mars News

In [76]:
# Visit the NASA's Mars News Site
# Visit NASA news url through splinter module

url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [77]:
# Parse Results HTML with BeautifulSoup
# bs denotes BeautifulSoup

# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html,"html.parser")

In [78]:
# Scrape the Latest News Title
latest_news_title = soup.find("div",class_="content_title").text

# Scrape the Latest Paragraph Text
latest_news_paragraph = soup.find("div", class_="article_teaser_body").text

# Display scrapped data 
print(f"Title: {latest_news_title}")
print(f"Paragragh: {latest_news_paragraph}")

Title: Mars 2020 Unwrapped and Ready for More Testing
Paragragh: In time-lapse video, bunny-suited engineers remove the inner layer of protective foil on NASA's Mars 2020 rover after it was relocated for testing.

######  JPL Mars Space Images - Featured Image

In [79]:
# Visit the NASA JPL (Jet Propulsion Laboratory) Site

image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [80]:
#Getting the base url
from urllib.parse import urlsplit

base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(image_url))
print(base_url)

https://www.jpl.nasa.gov/

In [81]:
# Design an xpath selector to grab the image
# XPath'stands for XML(eXtensible Markup Language) path can be used to find web elements on any web page

xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [82]:
#Use splinter to click on the mars featured image
#to bring the full resolution image

results = browser.find_by_xpath(xpath)
img = results[0]
img.click()

In [83]:
#get image url using BeautifulSoup

# html object
html_image = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html_image, "html.parser")
img_url = soup.find("img", class_="fancybox-image")["src"]
featured_image_url = base_url + img_url
# print featured_image_url
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/largesize/PIA23379_hires.jpg

######  Mars Weather

In [84]:
#get mars weather's latest tweet from the website

url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [85]:
# HTML Object
html_weather = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html_weather, "html.parser")

#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)
#temp

InSight sol 317 (2019-10-18) low -103.2ºC (-153.8ºF) high -26.2ºC (-15.2ºF)
winds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.2 m/s (49.7 mph)
pressure at 7.10 hPapic.twitter.com/LNDEvGwVDw

###### Mars Facts

In [86]:
# Visit Mars facts url 
url_facts = "https://space-facts.com/mars/"

In [87]:
# Use Pandas read_html to parse the url
table = pd.read_html(url_facts)
table[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [88]:
df_mars_facts = table[1]
df_mars_facts.columns = ["Description", "Value"]
df_mars_facts.set_index(["Description"])

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [89]:
df_mars_facts.to_html().replace("\n", "")

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [90]:
# create table.html which contains mars facts
df_mars_facts.to_html('table.html',index=False)

######  Mars Hemispheres

In [91]:
# Visit hemispheres website through splinter module 

url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url)

In [92]:
hemisphere_image_urls = []

# Get a List of All the Hemispheres
links = browser.find_by_css("a.product-item h3")

for item in range(len(links)):
    hemisphere = {}
    
    # Find Element on Each Loop to Avoid a Stale Element Exception
    browser.find_by_css("a.product-item h3")[item].click()
    
    # Find Sample Image Anchor Tag 
    sample_element = browser.find_link_by_text("Sample").first
   
    # Get Hemisphere Title
    hemisphere["title"] = browser.find_by_css("h2.title").text
    
    # Extract href
    hemisphere["img_url"] = sample_element["href"]
    
    # Append Hemisphere Object to List
    hemisphere_image_urls.append(hemisphere)
    
    # Navigate Backwards
    browser.back()

In [93]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]